@media only screen and (max-width: 600px) {
    .spot-card {
        margin-bottom: 10px; /* 画面が狭い場合に余白を減らす */
    }

    .spot-card img {
        height: 150px; /* 画面が狭い場合に画像の高さを調整 */
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

#menu-btn {
    cursor: pointer;
    user-select: none;
    position: relative;
    display: inline-block;
}

#menu-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 6px;
    transition: 0.4s;
}

#menu-btn.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-btn.open span:nth-child(2) {
    opacity: 0;
}

#menu-btn.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

#menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: rgba(51, 51, 51, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

#menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: 0.3s;
}

#menu a:hover {
    color: #ffcc00;
}

#content {
    padding: 20px;
}

.recommendation-info {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

#recommendations-list {
    list-style: none;
    padding: 0;
}

.spot-card {
    margin-bottom: 20px; /* カード間に余白を追加 */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.spot-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.spot-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #fff;
}


.spot-details {
    padding: 15px;
}

.spot-details h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}
